<div class="topnav">
  <a class="active" href="<%= arts_path %>">Nature & animaux</a>
  <a href="<%= new_art_path %>">Ajouter une œuvre</a>
</div>

<div class="separator"></div>

<a href="<%= arts_path %>" class="toplink"><i class="material-icons">keyboard_backspace</i> Retour</a> |
<a href="<%= @art %>" class="toplink"><i class="material-icons">play_arrow</i> Voir</a>

<h1>Modifier l'œuvre</h1>

<%= render 'form', art: @art %>