<div class="topnav">
  <a class="active" href="<%= arts_path %>">Virtual museum</a>
  <a href="<%= new_art_path %>">New art</a>
</div>

<div class="separator"></div>

<a href="<%= arts_path %>" class="toplink"><i class="material-icons">keyboard_backspace</i> Back</a> |
<a href="<%= @art %>" class="toplink"><i class="material-icons">play_arrow</i> Show</a>

<h1>Editing art</h1>

<%= render 'form', art: @art %>