<div class="topnav">
  <a class="active" href="<%= arts_path %>">Nature & animaux</a>
  <a href="<%= new_art_path %>">Ajouter une œuvre</a>
</div>

<div class="separator"></div>

<p id="notice"><%= notice %></p>

<h1><%= @art.author %>, <i><%= @art.title %></i></h1>

<h3><%= @art.date %></h3>

<a href="<%= arts_path %>" class="toplink"><i class="material-icons">keyboard_backspace</i> Retour</a> |
<a href="<%= edit_art_path %>" class="toplink"><i class="material-icons">edit</i> Modifier</a>

<br><br>

<img src="<%= @art.photo %>" class="showimage">

<p class="showtext"><%= @art.description %></p>